@import "tailwindcss";
body {
  background-color: #0f0f11;
}

* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.scroll-style-one::-webkit-scrollbar {
  appearance: none;
  width: 2px;
  height: 4px;
}
.scroll-style-one::-webkit-scrollbar-thumb {
  width: 2px;
  height: 4px;
  background-color: rgba(63, 62, 62, 0.582);
  cursor: pointer;
  margin-top: 2em;
}
.scroll-style-one::-webkit-scrollbar-thumb:hover {
  background-color: darkred;
}

.scroll-style::-webkit-scrollbar {
  background-color: #33333bc1;
  width: 6px;
  height: 6px;
}
.scroll-style::-webkit-scrollbar-thumb {
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  width: 12px;
}
.scroll-style::-webkit-scrollbar-thumb:hover {
  background-color: darkred;
  cursor: pointer;
}
.scroll-style::-webkit-scrollbar-track {
  appearance: none;
  width: 6px;
  height: 12px;
}

input[type="range"] {
  -webkit-appearance: none;
}
input[type="range"] {
  width: 14em;
  background-color: rgb(28, 27, 27);
  height: 5px;
  border-radius: 3em;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: darkred;
  height: 12px;
  width: 30px;
  border-radius: 10em;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: red;
  transition-duration: 0.7s;
  cursor: pointer;
}

@layer utilities {
  @keyframes dance {
    0% {
      transform: translateY(-4px);
    }
    50% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-4px);
    }
  }
  .animate-dance {
    animation: dance 2s infinite;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .animate-rotate {
    animation: rotate 3s linear infinite;
  }
}
